{% extends 'base.html' %}
{% load static %}
{% block title %}
Restaurant Suggestor
{% endblock %}
{% block content %}


<div class="sub-div" id="introduction">
    <center>
        <h1>Restaurant Suggestor</h1>
        <p>Write your query below. Search for a type of food in any area in Bengaluru</p>

        <h1>Find Your Perfect Restaurant</h1>
        <form method="POST">
            {% csrf_token %}
            <label for="input_text">Tell us your preferences:</label><br>
            <input id="input_text" name="input_text"><br><br>
            <button type="submit">Get Recommendations</button>
        </form>
{% if recommendations %}
        <h2>Recommended restaurants</h2>
        <p>{{ recommendations }}</p>

        {% endif %}
<!--


        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Location</th>
                    <th>Cost</th>
                    <th>Cuisines</th>
                    <th>Reviews</th>
                    <th>Similarity</th>
                </tr>
            </thead>
            <tbody>
                {% for restaurant in recommendations %}
                <tr>
                    <td>{{ restaurant.name }}</td>
                    <td>{{ restaurant.location }}</td>
                    <td>{{ restaurant.cost }}</td>
                    <td>{{ restaurant.cuisines }}</td>
                    <td>{{ restaurant.reviews_list }}</td>
                    <td>{{ restaurant.similarity|floatformat }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
       
-->
</div>
{% endblock %}